<a href="https://colab.research.google.com/github/timoshenko4618/data-analysis/blob/main/Data_Science_%26_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Basics

---

In [ ]:
ls = ['one', 'two', 'three', 'three']
ls2 = ['01', '02', '03']
print(len(ls))
print(ls.count('three'))
print(ls.index('three'))
'''
t = ls.pop(1)
print(ls)
print(t)
'''
print(type(ls))

4
2
2
<class 'list'>

In [ ]:
print(len(ls))
print(ls)
matrix = np.array([ls,ls2])
print(matrix[0])
print(matrix[1])

In [ ]:
dict_01 = {'01':'one',
           '02':'two',
           '03':'three',
           '04':'four',
           '05':'five'}

In [ ]:
dict_ls = [dict_01]
dict_ls
dict_ls, len(dict_ls)

([{'01': 'one', '02': 'two', '03': 'three', '04': 'four', '05': 'five'}], 1)

In [ ]:
for i, row in enumerate(ls2):
  print(row)

In [ ]:
ls_int_numbers = [2, 1, 15, 4, 32, 3, 9, 33, 16, 48]

In [ ]:
num_doubled= [x*2 for x in ls_int_numbers]
num_doubled

[4, 2, 30, 8, 64, 6, 18, 66, 32, 96]

In [ ]:
num_even = [x  for x in ls_int_numbers if x%2 == 0]
num_even

[2, 4, 32, 16, 48]

In [ ]:
num2 = [x if x%3 == 0   else '_'+ str(x) + '_' for x in ls_int_numbers ]
num2

['_2_', '_1_', 15, '_4_', '_32_', 3, 9, 33, '_16_', 48]

**Текст, выделенный полужирным шрифтом**# Readind and Writing Data

---

# **Reading and writing data**

---

### *Clone git repo to Google drive*

In [ ]:
#https://github.com/Apress/data-science-fund-for-python-and-mongodb

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!cd /content/drive/MyDrive/ && git clone https://github.com/Apress/data-science-fund-for-python-and-mongodb
!ls /content/drive/MyDrive/Uploaded/DataScienceAndMongoDB

Cloning into 'data-science-fund-for-python-and-mongodb'...
remote: Enumerating objects: 106, done.
remote: Total 106 (delta 0), reused 0 (delta 0), pack-reused 106
Receiving objects: 100% (106/106), 14.34 MiB | 9.29 MiB/s, done.
Resolving deltas: 100% (8/8), done.
Updating files: 100% (99/99), done.

### *Modified text file reading method*

In [ ]:
import csv

In [ ]:
import requests

In [ ]:
def read_txt_mod(f):
  with open(f, 'r') as f:
    d = f.readlines()
    return [x.strip() for x in d]

f = 'https://raw.githubusercontent.com/Apress/data-science-fund-for-python-and-mongodb/master/Data/names.txt'
response = requests.get(f)
data = response.text
print(data)

### *Original text file reading method*

In [ ]:
import csv

In [ ]:
txt_f = '/content/drive/MyDrive/Uploaded/data-science-fund-for-python-and-mongodb/Data/names.txt'

In [ ]:
def read_txt(f):          # converts txt file to a list of strings
  with open(f, 'r') as f:
    d = f.readlines()
    return [x.strip() for x in d]

#read_txt(f)

In [ ]:
def conv_csv(t, c):      #
  data = read_txt(t)
  with open(c, 'w', newline = '') as csv_file:
    writer = csv.writer(csv_file)
    for line in data:
      ls = line.split()
      writer.writerow(ls)

def read_csv(f):
  contents = ''
  with open(f, 'r') as f:
    reader = csv.reader(f)
    return list(reader)

csv_f = '/content/drive/MyDrive/Uploaded/data-science-fund-for-python-and-mongodb/Data/names.csv'

conv_csv(txt_f, csv_f)

r_csv  = read_csv(csv_f)

for i, row in enumerate(r_csv): # text to csv sample
  if i < 3:
    print(row)

In [ ]:
def read_dict(f, h):
  input_file = csv.DictReader(open(f), fieldnames = h)
  return input_file

def od_to_d(od):
  return dict(od)


headers = ['first', 'last']

r_dict = read_dict(csv_f, headers)


dict_ls = []

print('\n r_dict  sample:')

for i, row in enumerate(r_dict):
  r = od_to_d(row)
  dict_ls.append(r)
  if i < 3:
    print('row',row)
    print('od_to_d(row)', r)

print('\n dict_ls  sample:')

for i, row in enumerate(dict_ls):
  if i < 3:
      print(row)

# **List comprehension**

---

In [ ]:
# Miles to kilometers converter

miles = [100, 10, 9.5, 1000,30]
kilometers = [x * 1.60934 for x in miles]
print ('Miles to km:')
for i, row in enumerate(kilometers):
  print('{:_<6} {:>8}{:_>8} {:>2}'.
        format(miles[i], 'miles is ', round(row,2), 'km'))

In [ ]:
# Pets list
print('\npet:')
pet = ['cat', 'dog','rabbit', 'parrot', 'guinea pig', 'fish']
print(pet)

print('\npets:')
pets = [x + 's' if x != 'fish' else x for x in pet]
print(pets)

subset = [x for x in pets if x != 'fish'    and
                             x != 'rabbits' and
                             x != 'parrots' and
                             x != 'guinea pigs' ]
print('\ncommon pets:')
print(subset[1], 'and', subset[0])

pet:
['cat', 'dog', 'rabbit', 'parrot', 'guinea pig', 'fish']

pets:
['cats', 'dogs', 'rabbits', 'parrots', 'guinea pigs', 'fish']

common pets:
dogs and cats

In [ ]:
# Bonuses for sales
sales = [9000, 20000, 50000, 100000]
print('\nbonuses:')
bonus = [0 if x < 10000 else x * 0.02
                         if   x >= 10000 and x <= 20000
                         else x * 0.03
                         for x in sales ]
print (bonus)

print('\nbonus dict:')
people = ['dave', 'sue', 'al', 'sukki']
d = {}
for i, row in enumerate(people):
  d[row] = bonus[i]

print(d,'\n')

print('{:<6}{:<6}'.format('emp','bonus'))

for k, y in d.items():
  print('{:<5}{:>7}'.format(k,y) )

# **Generators**

---

In [ ]:
import matplotlib.pyplot as plt

In [8]:
import csv, time, numpy as np

In [7]:
# Common function

def read_dict(f, h):
  input_file = csv.DictReader(open(f), fieldnames = h)
  return (input_file)

In [6]:
# Common function

def conv_reg_dict(d):
  return [dict(x) for x in d]

In [ ]:
def sim_times (d, n):
  i = 0
  lsd, lsgc = [], []

  while i < n:
    start = time.perf_counter()
    [x for x in d]
    time_d = time.perf_counter() - start
    lsd.append(time_d)

    start = time.perf_counter()
    (x for x in d)
    time_gc = time.perf_counter() - start
    lsgc.append(time_gc)

    i += 1
  return (lsd, lsgc)

In [ ]:
def gen(d):
  yield (x for x in d)

In [ ]:
def sim_gen(d, n):
  i = 0
  lsg = []
  generator = gen(d)

  while i < n:
    start = time.perf_counter()
    for row in generator:
      None
    time_g = time.perf_counter() - start
    lsg.append(time_g)
    i += 1
    generator = gen(d)
  return lsg

In [ ]:
def avg_ls(ls):
  return np.mean(ls)

In [5]:
# Common vars

f = '/content/drive/MyDrive/Uploaded/data-science-fund-for-python-and-mongodb/Data/names.csv'
headers = ['first', 'last']

In [ ]:
r_dict = None

r_dict = read_dict(f, headers)
'''
i = 0
for x in r_dict:
  if i < 10:
    print(x)
    i += 1
'''
print(50*'_ ')

dict_ls = conv_reg_dict(r_dict)
'''
i = 0
for x in dict_ls:
  if i < 10:
    print(x)
    i+=1
'''

In [ ]:
n = 1000

ls_times, gc_times = sim_times(dict_ls, n)

x = [i for i in range(len(ls_times))]
plt.plot(x, ls_times, '.b')
plt.plot(x, gc_times, '.r')
plt.ylim([0, 0.00001])
plt.xlim([0, 1000])
plt.grid(True)
plt.show()

### Generator test

https://realpython.com/introduction-to-python-generators/

In [ ]:
mylist = [x*x for x in range(5)]

t0 = time.perf_counter()

for i in mylist :
 #print(i)
 None

print(time.perf_counter() - t0)

0.00012720999984594528

In [ ]:
mygenerator = (x*x for x in range(5))

t0 = time.perf_counter()

for i in mygenerator:
 # print(i)
 None

print(time.perf_counter() - t0)

9.484299994255707e-05

In [ ]:
def counter_f(n):
  i=1
  while i<=n:
    yield i**2
    i+=1

n = 3
counter = counter_f(n)
try:
  for j in range(n):
    print(next(counter))

except StopIteration:
    print("empty")

counter = counter_f(5)

print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))

In [ ]:
def gen_f(d):
  for row in d:
    yield row + '_f'

list1 = ['a','b','c','d','e']

gnr_f = gen_f(list1)
gnr = (row+'-' for row in list1)

print(next(gnr))
print(next(gnr))
print(next(gnr))

print(next(gnr_f))
print(next(gnr_f))
print(next(gnr_f))

'''
for row in list1:
  #print(row)
  print(next(gnr))
'''

In [ ]:
def gen_g(data):
  yield (x for x in data)

d = [5,8,1,3,87,15,160]

g1 = next(gen_g(d))

print(next(g1))
print(next(g1))
print(next(g1))

print()

print(next(next(gen_g(d))))
print(next(next(gen_g(d))))
print(next(next(gen_g(d))))

In [ ]:
import random

In [ ]:
random.randint(0,500)

171

### Comparison time.perf_counter()  and  time.process_time()

In [ ]:
start_perf = time.perf_counter()

for i in range(10):
  x= i**2

print('perf: ',time.perf_counter()-start_perf)

perf:  0.00013487200001804922

In [ ]:
start_proc = time.process_time()

for i in range(10):
  x= i**2

print('proc: ',time.process_time()-start_proc)

proc:  0.0002239639999999099

# **Data Randomization**

---

In [5]:
import csv, random, time

In [6]:
def r_inds(ls,n):
  lenght = len(ls) - 1
  yield [random.randrange(lenght) for _ in range(n)]

def get_slice(ls, n):
  return ls[:n]

def p_line():
  print()

In [7]:
r_dict = read_dict(f, headers)
dict_ls = conv_reg_dict(r_dict)
n = len(dict_ls)
r = random.randrange(0, n-1)
print ('randomly selected index:', r)
print ('randomly selected element:', dict_ls[r])

randomly selected index: 0
randomly selected element: {'first': 'Adam', 'last': 'Baum'}

In [8]:
elements = 3
generator = next(r_inds(dict_ls, elements))

p_line()

print(elements, 'randomly generated indicies:',generator)

print(elements, 'elements based on indicies:')
for row in generator:
  print(dict_ls[row])

x = [[i] for i in range(n-1)]
random.shuffle(x)

p_line()

print('1st', elements, 'shuffled elements:')
ind = get_slice(x, elements)

print(x)
print(ind)

for row in ind:
  print(dict_ls[row[0]])

print(dict_ls)

seed = 1
random_seed = random.seed(seed)
rs1 = random.randrange(0, n - 1)
print(random_seed)

p_line()

print('deterministic seed', str(seed) + ':', rs1)
print('corresponding element:', dict_ls[rs1])

t = time.time()
random_seed = random.seed(t)
rs2 = random.randrange(0, n - 1)

p_line()
print('non-deterministic time seed', str(t) + ' index: ', rs2)
print('corresponding element:', dict_ls[rs2], '\n')

3 randomly generated indicies: [109, 65, 142]
3 elements based on indicies:
{'first': 'Lucy', 'last': 'Fer'}
{'first': 'Crystal', 'last': 'Glass'}
{'first': 'Royal', 'last': 'Payne'}

1st 3 shuffled elements:
[[102], [97], [119], [111], [120], [1], [152], [29], [154], [35], [161], [59], [153], [88], [141], [158], [92], [112], [136], [34], [101], [126], [99], [109], [39], [5], [133], [150], [24], [86], [135], [117], [43], [87], [84], [140], [12], [144], [60], [108], [23], [124], [58], [115], [31], [10], [110], [164], [103], [98], [160], [72], [159], [67], [105], [77], [162], [51], [56], [128], [27], [13], [14], [11], [37], [106], [149], [61], [74], [48], [118], [28], [49], [66], [123], [44], [64], [22], [127], [107], [93], [33], [96], [68], [65], [85], [121], [80], [8], [57], [134], [94], [157], [129], [139], [75], [104], [55], [137], [4], [7], [46], [156], [147], [16], [138], [15], [0], [79], [62], [69], [36], [82], [73], [9], [81], [95], [91], [54], [114], [78], [52], [145], [47], [18], [143], [38], [63], [76], [131], [19], [116], [142], [70], [130], [155], [3], [21], [132], [122], [25], [42], [6], [146], [53], [71], [20], [125], [32], [40], [26], [30], [148], [90], [83], [100], [41], [17], [113], [151], [89], [2], [50], [163], [45]]
[[102], [97], [119]]
{'first': 'Justin', 'last': 'Sane'}
{'first': 'Jean', 'last': 'Poole'}
{'first': 'Misty', 'last': 'Waters'}
[{'first': 'Adam', 'last': 'Baum'}, {'first': 'Adam', 'last': 'Zapel'}, {'first': 'Al', 'last': 'Bino'}, {'first': 'Al', 'last': 'Dente'}, {'first': 'Al', 'last': 'Fresco'}, {'first': 'Alky', 'last': 'Seltzer'}, {'first': 'Alfa', 'last': 'Romeo'}, {'first': 'Ali', 'last': 'Gaiter'}, {'first': 'Ali', 'last': 'Katt'}, {'first': 'Amanda', 'last': 'Lay'}, {'first': 'Amanda', 'last': 'Lynn'}, {'first': 'Amber', 'last': 'Green'}, {'first': 'Andy', 'last': 'Friese'}, {'first': 'Anita', 'last': 'Bathe'}, {'first': 'Anita', 'last': 'Bohn'}, {'first': 'Anita', 'last': 'Friske'}, {'first': 'Anita', 'last': 'Hanke'}, {'first': 'Anita', 'last': 'Goodman'}, {'first': 'Anita', 'last': 'Job'}, {'first': 'Anita', 'last': 'Knapp'}, {'first': 'Anita', 'last': 'Little'}, {'first': 'Anita', 'last': 'Mann'}, {'first': 'Anita', 'last': 'Plummer'}, {'first': 'Anita', 'last': 'Schhauer'}, {'first': 'Anna', 'last': 'Conda'}, {'first': 'Anna', 'last': 'Fender'}, {'first': 'Anna', 'last': 'Graham'}, {'first': 'Anna', 'last': 'Prentice'}, {'first': 'Anna', 'last': 'Recksiek'}, {'first': 'Anna', 'last': 'Sasin'}, {'first': 'Anne', 'last': 'Teak'}, {'first': 'Annette', 'last': 'Curtain'}, {'first': 'Anne', 'last': 'Howe'}, {'first': 'Annie', 'last': 'Matter'}, {'first': 'April', 'last': 'Schauer'}, {'first': 'Armand', 'last': 'Hammer'}, {'first': 'Art', 'last': 'Major'}, {'first': 'Art', 'last': 'Painter'}, {'first': 'Art', 'last': 'Sellers'}, {'first': 'Barb', 'last': 'Dwyer'}, {'first': 'Barby', 'last': 'Dahl'}, {'first': 'Barry', 'last': 'Cade'}, {'first': 'Bea', 'last': 'Minor'}, {'first': 'Beau', 'last': 'Tye'}, {'first': 'Bee', 'last': 'Ware'}, {'first': 'Ben', 'last': 'Dover'}, {'first': 'Ben', 'last': 'Down'}, {'first': 'Betty', 'last': 'Wont'}, {'first': 'Bill', 'last': 'Board'}, {'first': 'Bill', 'last': 'Ding'}, {'first': 'Bill', 'last': 'Foldes'}, {'first': 'Bill', 'last': 'Loney'}, {'first': 'Brandon', 'last': 'Irons'}, {'first': 'Brighton', 'last': 'Early'}, {'first': 'Brock', 'last': 'Lee'}, {'first': 'Cam', 'last': 'Payne'}, {'first': 'Candy', 'last': 'Barr'}, {'first': 'Candy', 'last': 'Kane'}, {'first': 'Cara', 'last': 'Van'}, {'first': 'Charity', 'last': 'Case'}, {'first': 'Chris', 'last': 'Coe'}, {'first': 'Chris', 'last': 'Cross'}, {'first': 'Corey', 'last': "O'Graff"}, {'first': 'Count', 'last': 'Dunn'}, {'first': 'Crystal', 'last': 'Ball'}, {'first': 'Crystal', 'last': 'Glass'}, {'first': 'Dee', 'last': 'Liver'}, {'first': 'Dandy', 'last': 'Lyons'}, {'first': 'Dan', 'last': 'Druff'}, {'first': 'Dee', 'last': 'Major'}, {'first': 'Dick', 'last': 'Tator'}, {'first': 'Dinah', 'last': 'Soares'}, {'first': 'Don', 'last': 'Key'}, {'first': 'Doug', 'last': 'Hole'}, {'first': 'Duane', 'last': 'Pipe'}, {'first': 'Dusty', 'last': 'Carr'}, {'first': 'Dusty', 'last': 'Rhodes'}, {'first': 'Eaton', 'last': 'Wright'}, {'first': 'Eileen', 'last': 'Dover'}, {'first': 'Ella', 'last': 'Vader'}, {'first': 'Fanny', 'last': 'Hertz'}, {'first': 'Gene', 'last': 'Poole'}, {'first': 'Harry', 'last': 'Beard'}, {'first': 'Harry', 'last': 'Chest'}, {'first': 'Harry', 'last': 'Legg'}, {'first': 'Heidi', 'last': 'Clare'}, {'first': 'Helen', 'last': 'Back'}, {'first': 'Holly', 'last': 'Day'}, {'first': 'Holly', 'last': 'Wood'}, {'first': 'Howie', 'last': 'Doohan'}, {'first': 'Hugh', 'last': 'Morris'}, {'first': 'Hy', 'last': 'Price'}, {'first': 'Ileane', 'last': 'Wright'}, {'first': 'Ilene', 'last': 'South'}, {'first': 'Jack', 'last': 'Hammer'}, {'first': 'Jack', 'last': 'Pott'}, {'first': 'Jay', 'last': 'Walker'}, {'first': 'Jean', 'last': 'Poole'}, {'first': 'Jerry', 'last': 'Atrick'}, {'first': 'Jo', 'last': 'King'}, {'first': 'Justin', 'last': 'Case'}, {'first': 'Justin', 'last': 'Inch'}, {'first': 'Justin', 'last': 'Sane'}, {'first': 'Justin', 'last': 'Time'}, {'first': 'Kerry', 'last': 'Oki'}, {'first': 'Lily', 'last': 'Pond'}, {'first': 'Liv', 'last': 'Long'}, {'first': 'Liv', 'last': 'Good'}, {'first': 'Lou', 'last': 'Pole'}, {'first': 'Lucy', 'last': 'Fer'}, {'first': 'Luke', 'last': 'Warm'}, {'first': 'Marky', 'last': 'Spot'}, {'first': 'Manny', 'last': 'Kinn'}, {'first': 'Marty', 'last': 'Graw'}, {'first': 'May', 'last': 'Day'}, {'first': 'May', 'last': 'Furst'}, {'first': 'Mel', 'last': 'Loewe'}, {'first': 'Mike', 'last': 'Easter'}, {'first': 'Mike', 'last': 'Raffone'}, {'first': 'Misty', 'last': 'Waters'}, {'first': 'Mo', 'last': 'Lestor'}, {'first': 'Moby', 'last': 'Dick'}, {'first': 'Molly', 'last': 'Kuehl'}, {'first': 'Mona', 'last': 'Lott'}, {'first': 'Neil', 'last': 'Down'}, {'first': 'Noah', 'last': 'Lott'}, {'first': 'Olive', 'last': 'Branch'}, {'first': 'Olive', 'last': 'Hoyl'}, {'first': 'Otto', 'last': 'Graf'}, {'first': 'Owen', 'last': 'Moore'}, {'first': 'Paige', 'last': 'Turner'}, {'first': 'Pearly', 'last': 'Gates'}, {'first': 'Phil', 'last': 'Graves'}, {'first': 'Polly', 'last': 'Ester'}, {'first': 'Rich', 'last': 'Feller'}, {'first': 'Rich', 'last': 'Guy'}, {'first': 'Rich', 'last': 'Mann'}, {'first': 'Rick', 'last': 'Shaw'}, {'first': 'Rock', 'last': 'Bottom'}, {'first': 'Rocky', 'last': 'Beach'}, {'first': 'Sandy', 'last': 'Beach'}, {'first': 'Rose', 'last': 'Bush'}, {'first': 'Royal', 'last': 'Payne'}, {'first': 'Rusty', 'last': 'Blades'}, {'first': 'Rusty', 'last': 'Carr'}, {'first': 'Sally', 'last': 'Forth'}, {'first': 'Sarah', 'last': 'Bellum'}, {'first': 'Sandy', 'last': 'Banks'}, {'first': 'Sandy', 'last': 'Beech'}, {'first': 'Seymour', 'last': 'Butz'}, {'first': 'Skip', 'last': 'Rope'}, {'first': 'Sonny', 'last': 'Day'}, {'first': 'Stan', 'last': 'Still'}, {'first': 'Sue', 'last': 'Flay'}, {'first': 'Sue', 'last': 'Ridge'}, {'first': 'Tad', 'last': 'Pohl'}, {'first': 'Teddy', 'last': 'Baer'}, {'first': 'Terry', 'last': 'Bull'}, {'first': 'Tim', 'last': 'Burr'}, {'first': 'Tish', 'last': 'Hughes'}, {'first': 'Ty', 'last': 'Coon'}, {'first': 'Ty', 'last': 'Knotts'}, {'first': 'Wanda', 'last': 'Rinn'}, {'first': 'Will', 'last': 'Power'}, {'first': 'Willie', 'last': 'Waite'}, {'first': 'Willie', 'last': 'Makeit'}]
None

deterministic seed 1: 34
corresponding element: {'first': 'April', 'last': 'Schauer'}

non-deterministic time seed 1687617309.2632747 index:  117
corresponding element: {'first': 'Mike', 'last': 'Easter'}

In [9]:
for i in range(elements):
  r = random.randint(0, n-1)
  print(dict_ls[r], r)

{'first': 'Paige', 'last': 'Turner'} 130
{'first': 'Sandy', 'last': 'Beach'} 140
{'first': 'Brighton', 'last': 'Early'} 53

In [ ]:
names = []

for row in dict_ls:
  name = row['last'] + ', ' + row['first']
  names.append(name)

p_line()

print( elements, 'names with "random.choise()":')

for row in range(elements):
  print(random.choice(names))

p_line()

print(elements, 'names with "random.sample()":')
print(random.sample(names, elements))

# **MongoDB & JSON**

---

In [5]:
import json, csv
!pip3 install pymongo


# Common data  *************************

f = '/content/drive/MyDrive/Uploaded/data-science-fund-for-python-and-mongodb/Data/names.csv'
headers = ['first', 'last']

def conv_reg_dict(d):
  return [dict(x) for x in d]

def read_dict(f, h):
  input_file = csv.DictReader(open(f), fieldnames = h)
  return (input_file)

#***************************************


def dump_json(f, d):
  with open(f, 'w') as f:
    json.dump(d, f)

def read_json(f):
  with open(f) as f:
    return json.load(f)

class conn:
  from pymongo import MongoClient
  uri = 'mongodb://u1kkdrchfjim80tclysv:FeesC2ACNmI7be61RTst@brny4kjelauboxl-mongodb.services.clever-cloud.com:27017/brny4kjelauboxl'
  client = MongoClient(uri)
  #client = MongoClient('localhost', port = 27017)

  def __init__(self, dbname):
    self.db = conn.client[dbname]

  def getDB(self):
    return self.db

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.4.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.3.0)

In [6]:
r_dict = read_dict(f, headers)
dict_ls = conv_reg_dict(r_dict)

json_file = '/content/drive/MyDrive/Uploaded/data-science-fund-for-python-and-mongodb/Data/names.json'

dump_json(json_file, dict_ls)
data = read_json(json_file)

obj = conn('brny4kjelauboxl')
db = obj.getDB()
names = db.names
names.drop()

In [7]:
for i, row in enumerate(data):
  row['_id'] = i
  names.insert_one(row)

n = 5
print('1st', n, 'names:')
people = names.find()

for i, row in enumerate(people):
  if i < n:
    print(row)

1st 5 names:
{'_id': 0, 'first': 'Adam', 'last': 'Baum'}
{'_id': 1, 'first': 'Adam', 'last': 'Zapel'}
{'_id': 2, 'first': 'Al', 'last': 'Bino'}
{'_id': 3, 'first': 'Al', 'last': 'Dente'}
{'_id': 4, 'first': 'Al', 'last': 'Fresco'}

In [ ]:
people = names.find()

for row in enumerate(people):
  print(row)

In [8]:
people.rewind()
print('\n1st', n, 'names with rewind:')

for i, row in enumerate(people):
  if i < n:
    print(row)

1st 5 names with rewind:
{'_id': 0, 'first': 'Adam', 'last': 'Baum'}
{'_id': 1, 'first': 'Adam', 'last': 'Zapel'}
{'_id': 2, 'first': 'Al', 'last': 'Bino'}
{'_id': 3, 'first': 'Al', 'last': 'Dente'}
{'_id': 4, 'first': 'Al', 'last': 'Fresco'}

In [12]:
print('\nquery 1st', n, 'names')
first_n = names.find().limit(n)

for row in first_n:
  print(row)

query 1st 5 names
{'_id': 0, 'first': 'Adam', 'last': 'Baum'}
{'_id': 1, 'first': 'Adam', 'last': 'Zapel'}
{'_id': 2, 'first': 'Al', 'last': 'Bino'}
{'_id': 3, 'first': 'Al', 'last': 'Dente'}
{'_id': 4, 'first': 'Al', 'last': 'Fresco'}

In [14]:
print('\nquery last', n, 'names')
#lenght = names.find().count() - deprecated
lenght = names.count_documents({})
print('names.count_documents({}) : ', lenght)

last_n = names.find().skip(lenght - n)

for row in last_n:
  print(row)

query last 5 names
names.count_documents({}) :  166
{'_id': 161, 'first': 'Ty', 'last': 'Knotts'}
{'_id': 162, 'first': 'Wanda', 'last': 'Rinn'}
{'_id': 163, 'first': 'Will', 'last': 'Power'}
{'_id': 164, 'first': 'Willie', 'last': 'Waite'}
{'_id': 165, 'first': 'Willie', 'last': 'Makeit'}

In [15]:
fnames = ['Ella', 'Lou']
lnames = ['Vader', 'Pole']

print('\nquery Ella:')
query_1st_in_list = names.find({'first':{'$in':[fnames[0]]}})

for row in query_1st_in_list:
  print(row)

query Ella:
{'_id': 79, 'first': 'Ella', 'last': 'Vader'}

In [16]:
print('\nquery Ella or Lou:')
query_1st = names.find({'first':{'$in':fnames}})

for row in query_1st:
  print(row)

query Ella or Lou:
{'_id': 79, 'first': 'Ella', 'last': 'Vader'}
{'_id': 108, 'first': 'Lou', 'last': 'Pole'}

In [17]:
print('\nquery Lou Pole:')
query_and = names.find({'first':fnames[1], 'last':lnames[1]})

for row in query_and:
  print(row)

query Lou Pole:
{'_id': 108, 'first': 'Lou', 'last': 'Pole'}

In [18]:
print('\nquery first name Ella or last name Pole:')
query_or = names.find({'$or':[{'first':fnames[0]} , {'last':lnames[1]}]})

for row in query_or:
  print(row)

query first name Ella or last name Pole:
{'_id': 79, 'first': 'Ella', 'last': 'Vader'}
{'_id': 108, 'first': 'Lou', 'last': 'Pole'}

In [19]:
pattern = '^Sch'

print('\nquery regex pattern')

query_like = names.find( {'last':{'$regex':pattern}} )

for row in query_like:
  print(row)

query regex pattern
{'_id': 23, 'first': 'Anita', 'last': 'Schhauer'}
{'_id': 34, 'first': 'April', 'last': 'Schauer'}

In [30]:
pid = names.count_documents({})

doc = {'_id':pid, 'fisrt':'Wendy', 'last':'Day'}
names.insert_one(doc)

print('\ndisplay added document:')
q_added = names.find({'first':'Wendy'})

for row in q_added:
  print(row)

#print(q_added.next())

print('\nquery last n documents:')

q_n = names.find().skip((pid-n) + 1)

for _ in range(n):
  print(q_n.next())

display added document:

query last n documents:
{'_id': 166, 'fisrt': 'Wendy', 'last': 'Day'}
{'_id': 167, 'fisrt': 'Wendy', 'last': 'Day'}
{'_id': 168, 'fisrt': 'Wendy', 'last': 'Day'}
{'_id': 169, 'fisrt': 'Wendy', 'last': 'Day'}
{'_id': 170, 'fisrt': 'Wendy', 'last': 'Day'}

In [43]:
#q_a = names.find({'first':'Wendy'})
q_a = names.find({'last':'Day'})

#print(q_a.next())

for row in q_a:
  print(row)

{'_id': 87, 'first': 'Holly', 'last': 'Day'}
{'_id': 114, 'first': 'May', 'last': 'Day'}
{'_id': 151, 'first': 'Sonny', 'last': 'Day'}
{'_id': 166, 'fisrt': 'Wendy', 'last': 'Day'}
{'_id': 167, 'fisrt': 'Wendy', 'last': 'Day'}
{'_id': 168, 'fisrt': 'Wendy', 'last': 'Day'}
{'_id': 169, 'fisrt': 'Wendy', 'last': 'Day'}
{'_id': 170, 'fisrt': 'Wendy', 'last': 'Day'}

In [46]:
pattern = '^Ani'

print('\nquery regex pattern')

query_like = names.find( {'first':{'$regex':pattern}} )

for row in query_like:
  print(row)

query regex pattern
{'_id': 13, 'first': 'Anita', 'last': 'Bathe'}
{'_id': 14, 'first': 'Anita', 'last': 'Bohn'}
{'_id': 15, 'first': 'Anita', 'last': 'Friske'}
{'_id': 16, 'first': 'Anita', 'last': 'Hanke'}
{'_id': 17, 'first': 'Anita', 'last': 'Goodman'}
{'_id': 18, 'first': 'Anita', 'last': 'Job'}
{'_id': 19, 'first': 'Anita', 'last': 'Knapp'}
{'_id': 20, 'first': 'Anita', 'last': 'Little'}
{'_id': 21, 'first': 'Anita', 'last': 'Mann'}
{'_id': 22, 'first': 'Anita', 'last': 'Plummer'}
{'_id': 23, 'first': 'Anita', 'last': 'Schhauer'}

### Classes test

In [1]:
class MyClass:
  static_var = 'static var'

  def __init__(self, dinVar):
    self.dinVar = dinVar

In [2]:
MyClass.static_var

'static var'

In [4]:
myObj = MyClass(123)
myObj.dinVar

123